package components

templ ShipmentsMap() {
	<div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-6">
		<h2 class="text-lg font-semibold text-gray-900 dark:text-white mb-2">Vessel Map</h2>
		<div id="miniMap" class="w-full h-[500px] rounded-md"></div>
	</div>
}
